@charset "UTF-8";

/* em HTML é id = em é # (Só pode um elemento)
em HTML é Class = em CSS é . (Pode varios elementos)
*/
body {
    background-color: rgb(171, 229, 255);
    font-family: 'Courier New', Courier, monospace;
}
h1#bold {
    font-weight: bold;
    color: rgb(0, 10, 153);
}
.titulo {
    text-align: center;
    background-color: rgb(0, 140, 255);
    color: rgb(255, 255, 255);
}
h1 {
    color: rgb(0, 35, 87);
}
h2 {
    color: rgb(0, 35, 87);
}
p {
    font-size: 17px;
}
.basico{ color: rgb(27, 114, 85);
}
.intermediario { color: rgb(136, 97, 0);
}
.avancado {
    color: brown;
}